WpfENSAT1/Connected Services/ServiceReferenceEnseignement/ServiceEnseignement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceEnseignement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceEnseignement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52087/ServiceEnseignement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="ArrayOfEleves">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eleves" nillable="true" type="tns:Eleves" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEleves" nillable="true" type="tns:ArrayOfEleves" />
  <xs:complexType name="Eleves">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Eleve" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Photo" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eleves" nillable="true" type="tns:Eleves" />
</xs:schema>